.about-h1{
  text-align: left;
}
.about-content{
  max-width:770px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.name{
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  text-align: left;
  letter-spacing: 4px;
  margin: 0px;
  margin-top: -10px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.name-intro{
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Reem Kufi', sans-serif;
  letter-spacing: 4px;
  margin: 0px;
  padding-bottom: 10px;
}
.about-me{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}
.left{
  width: 350px;
  margin: 0px auto 20px auto;
}
.right{
  width: 420px;
  margin: 0px auto;
}
.profile{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: lightblue;
  margin: 0px;
  background-image: url('./../images/profile.jpg');
  width: 300px;
  height: 400px;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15);
}
.button{

}
.svg-wrapper {
  height: 50px;
  margin: 0px;
  position: relative;
  transform: translateY(0%);
  width: 200px;
  display: inline-block;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: 100%;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.resume-text {
  background-color: #fff;
  margin-top: -53px;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15);
}
.resume-link{
  padding: 0px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 10px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 5px;
  }
}
.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.8s draw linear forwards;
}
.resume{
  letter-spacing: 1.3px;
  color: #000;
  text-align: center;
  padding-bottom: 0px;
  font-size: 22px;
  line-height: 45px;
}
a.download-icon {
  color: #333;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0px;
  margin-left: 10px;
}
a.download-icon:hover{
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15);
}
.download-icon span {
  display: block;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 10px;
  margin: auto;
  border: 5px solid #333;
  border-top: transparent;
  top: 33px;
}
.download-icon span:before,
.download-icon span:after {
    content: '';
    display: block;
    position: absolute;
}
a.download-icon:hover span:before,
a.download-icon:hover span:after
{
    animation: bounce .5s infinite alternate;
    -webkit-animation: bounce .5s infinite alternate;
}
a.download-icon span:before{
  left: 17px;
  top: -9px;
  width: 5px;
  height: 10px;
  background: #333;
}
a.download-icon span:after
{
    left: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
}
@keyframes bounce {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(-10px);
  }

  to {
    -webkit-transform: translateY(0);
  }
}
.resume-container{
  display: flex;
}
