.about-h1{
  text-align: left;
}
.about-content{
  max-width:770px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.name{
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  text-align: left;
  letter-spacing: 4px;
  margin: 0px;
  margin-top: -10px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.name-intro{
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Reem Kufi', sans-serif;
  letter-spacing: 4px;
  margin: 0px;
  padding-bottom: 10px;
}
.about-me{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}
.left{
  width: 350px;
  margin: 0px auto 20px auto;
}
.right{
  width: 420px;
  margin: 0px auto;
}
.profile{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: lightblue;
  margin: 0px;
  background-image: url('./../images/profile.jpg');
  width: 300px;
  height: 400px;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15);
}
.button{

}
.svg-wrapper {
  height: 50px;
  margin-top: 30px;
  margin: 30px 0px 30px -20px;
  position: relative;
  top: 8%;
  transform: translateY(-50%);
  width: 200px;
  display: inline-block;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: 100%;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 45px;
  position: relative;
  top: -54px;
  width: 200px;
  background-color: white;
  height: 49px;
  z-index: -1;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15);
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 10px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 5px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.8s draw linear forwards;
}
.resume{
  letter-spacing: 2px;
  padding-left: 23px;
  padding-right: 23px;
}
