#home{
  background-image: url('https://res.cloudinary.com/psia12345/image/upload/c_scale,w_1280/v1487648405/bkground_dm2b0z.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 430px;
  height: 100vh;
}
.main-container{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
}
.window-container{
  width: 500px;
  height: 300px;
  background-color: #333;
  padding: 45px 20px 20px;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
}
.window-bar{
  background: #f9f9f3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.button{
  display: inline-block;
  float: left;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.close{
  background: #fc635d;
}
.min{
  background: #fdbc40;
}
.max{
  background: #34c84a;
}
.window-text p{
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 1.5;
  animation: type 4s steps(60, end);
  width: 30em;
  width: 8ch;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type .5s steps(8, end);
  animation: type .5s steps(8, end);
}
@keyframes type{
  from { width: 0; }
}
@-webkit-keyframes type{
    from { width: 0; }
}
.window-text p:nth-child(2){
  width: 30em;
  width: 35ch;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  animation: type2 1.5s steps(35, end);
  -webkit-animation: type2 1.5s steps(35, end);
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.window-text p:nth-child(3){
  width: 30em;
  width: 34ch;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  animation: type2 1.5s steps(34, end);
  -webkit-animation: type2 1.5s steps(34, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type2 {
  0% { width: 0; } from { opacity: 0; }
  1% { opacity: 1; } to { opacity: 1; }
  100% { opacity: 1;}
}

@-webkit-keyframes type2 {
  0% { width: 0; } from { opacity: 0; }
  1% { opacity: 1; } to { opacity: 1; }
  100% { opacity: 1;}
}
.bottom-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 500px;
}
.bottom-buttons a{
  padding: 0;
  width: 150px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15);
  background-color: #fff;
}
.side-item{
  padding: 15px;
}
.side-item p{
  font-size: 20px;
  line-height: 30px;
}







.nav-icon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
