li{
  list-style: none;
}
h1, h2, a, p, li, ul, body, div, section{
  padding: 0px;
  margin: 0px;
}
a, a:visited{
  color: black;
  font-family: 'Reem Kufi', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}
/*a:hover{
  background-color: rgba(173, 216, 230, 0.31);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}*/
h1{
  font-family: 'Satisfy', cursive;
  font-size: 60px;
  text-align: center;
  padding: 30px 0px;
}
p{
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
}
h2{
  font-family: 'Reem Kufi', sans-serif;
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
